// блок с пояснения после хедера на главной
.clarification {
	&__block {
		border-radius: @radius;
		background: #efefef;
		box-sizing: border-box;
		padding: 0px 16px 0px 31px;
		position: relative;
		&:before {
			content: '';
			position: absolute;
			width: 0;
			height: 0;
			top: -14px;
			left: 94px;
			border-left: 18px solid transparent;
			border-right: 18px solid transparent;
			border-bottom: 14px solid #efefef;
		}
	}
	&__text {
		font-size: 20px;
		margin: 22px 34px 22px 0;
		display: inline-block;
		&:last-child {
			margin-right: 0;
		}
	}
	&__img {
		margin-right: 7px;
	}
	&__detail {
		position: relative;
		font-family: 'Fira Sans Light Italic';
		margin: 5px 0 0 14%;
		z-index: 20;
		&:before {
			content: '';
		    position: absolute;
		    background: url(../img/line.png) 0 0 no-repeat;
		    width: 64px;
		    height: 43px;
		    top: -23px;
		    left: -78px;
		}
		a {
			color: #2f83d6;
			border-bottom: 1px solid #97c1ea;
			display: inline-block;
			line-height: 11px;
			&:hover {
				text-decoration: none;
				color: #2f83d6;
				border-bottom: 1px solid transparent;
			}
		}
	}
}
// слайдер на главной
.slider {
	&__block {
		padding-top: 25px;
		max-width: 1920px;
		margin: 0 auto;
	}
	&__slide-v1 {
		.slider__title {
			font-size: 78px;
			text-transform: uppercase;
			color: #fff; 
			font-family: 'Fira Sans Bold';
		}
		.slider__text {
			font-family:'Fira Sans Regular';
			font-size: 30px;
			color:#fff;
		}
		.slider__btn {
			width: 200px;
		}
	}
	&__slide-v2 {
		.slider__title {
			color: #fff;
			text-align: right;
			font-size: 48px;
			line-height: 48px;
			width: 515px;
			text-transform: uppercase;
			font-family: 'Fira Sans Bold';
		}
		.ls-l {
			line-height: normal!important;
		}
	}
	&__slide-v3 {
		.slider__title {
			color: #fff;
			margin-top: -24px;
			text-align: right;
			font-size: 48px;
			line-height: 60px;
			width: 515px;
			text-transform: uppercase;
			font-family: 'Fira Sans Bold';
		}
		.slider__price {
			font-size: 78px;
			display: inline-block;
		}
		.slider__btn {
			padding: 18px 32px 15px;
		}
	}
}
.ls-nav-prev {
	background: url(../img/arrow.png) 0 0 no-repeat;
	z-index: 7000;
	top: 25%;
	margin-top: 0px;
	position: absolute;
	left: 5%;
	width: 30px;
	height: 152px;
	display: block!important;
	visibility: visible!important;
	opacity: 1!important;
}
.ls-nav-next {
	background: url(../img/arrow.png) 0 0 no-repeat;
	z-index: 7000;
	top: 25%;
	margin-top: 0px;
	position: absolute;
	right: 5%;
	width: 30px;
	height: 152px;
	display: block!important;
	visibility: visible!important;
	opacity: 1!important;
	-moz-transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg);
}
// блок с топовыми предложениями на главной
.item-top {
	&__block {
		padding: 51px 0 94px 0;
		&:nth-child(even) {background: #f8f8f8;}
		&:nth-child(odd) {background: #ececed;}
	}
	&__text {
		font-size: 16px;
		font-family: 'Fira Sans Light';
		margin: 0 0 24px 0;
	}
	// блок описания топового объекта
	&__description {
		&-block {
			position: relative;
			vertical-align: top;
			display: inline-block;
			vertical-align: top;
		}
		&-img {
			border: 10px solid #fff;
		}
		&-info {
			background: #f9f9f9;
		    border-radius: 5px 5px 0 5px;
		    box-sizing: border-box;
		    position: absolute;
		    width: 244px;
		    top: 41px;
		    right: -37px;
		    padding: 17px 20px 20px 20px;
		    z-index: 10;
			&:before {
				content: '';
				position: absolute;
			    background: url(../img/triangle.png) 0 0 no-repeat;
			    width: 52px;
			    height: 35px;
			    bottom: -35px;
			    right: 0;
			}
		}
		&-text {
			color: #898989;
			margin: 0 0 8px 18px;
			font-family: 'Fira Sans Light';
		}
		&-old-price {
			color: #000;
			font-size: 22px;
			font-family: 'Fira Sans Regular';
			margin: -13px 0 -2px 18px;
			position: relative;
			display: inline-block;
			&:before {
				content: '';
				position: absolute;
				background: #f20;
				width: 100%;
				height: 1px;
				top: 16px;
				left: 0;
				-moz-transform: rotate(-7deg);
				-webkit-transform: rotate(-7deg);
				-o-transform: rotate(-7deg);
				-ms-transform: rotate(-7deg);
				transform: rotate(-7deg);
			}
		}
		&-price {
			color: #000;
			margin: -18px 0 2px 18px;
			font-size: 32px;
		}
		&-link {
			font-size: 16px;
			font-family: 'Fira Sans Bold';
			padding: 14px 15px 14px 19px;
		}
	}
	// левый блок со статьями на главной
	&__article-preview {
		display: inline-block;
		vertical-align: top;
		// width: 20%;
		// margin: 10px 27px 10px 0;
		margin: 10px 0;
		&-block {
			margin-bottom: 42px;
		}
		&-img {
			margin-bottom: 10px;
		}
		&-text {
			margin: 0;
			font-family: 'Fira Sans Light';
			line-height: 21px;
		}
		&-link {
			color: #2f83d6;
			font-size: 50%;
			border-bottom: 1px solid #97c1ea;
			&:hover {
				text-decoration: none;
				color: #2f83d6;
				border-bottom: 1px solid transparent;
			}
		}
	}
}
// блок калькулятора
.calculation  {
	&__block {
		padding: 50px 0 60px 0;
	}
	&__title {
		font-size: 24px;
		text-transform: uppercase;
		margin-bottom: 13px;
		font-weight: 500;
		&._sizeM {
			font-size: 22px;
			margin: 38px 0 17px 0;
		}
	}
	&__main-text {
		text-align: center;
		margin: 6px 0 19px 0;
		font-family: 'Fira Sans Light';
		font-size: 16px;
	}
	&__slider {
		width: 65%;
		margin: -55px 0 0 0;
		background: transparent;
	}
	&__lights-input,
	&__amount {
		background: none;
		border: none;
		font-size: 24px;
		width: 68%;
		box-sizing: border-box;
		height: 41px;
		text-align: center;
		margin: -6px 0 12px 0;
		border: 1px solid #dce1e5;
		border-top-color: #c6cbd1;
		box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
		background: -moz-linear-gradient(top, #f1f1f1, #fff);
		background: -webkit-linear-gradient(top, #f1f1f1, #fff);
		background: -o-linear-gradient(top, #f1f1f1, #fff);
		background: -ms-linear-gradient(top, #f1f1f1, #fff);
		background: linear-gradient(top, #f1f1f1, #fff);
		background-color: white;
	}
	&__lights-input {
		width: 100%;
	}
	&__metrs {
		position: absolute;
		bottom: 5px;
		right: -45px;
		font-size: 16px;
		font-family: 'Fira Sans Light';
		&._bottom {
			bottom: 20px;
			right: -20px;
		}
	}
	&__light-circle {
		filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
		display: none;
		&:checked ~ label {
			background: url(../img/active_circle.png) 0 0 no-repeat;
		}
	}
	&__light-block {
		float: right;
		vertical-align: top;
		margin: -4px 23px 0 0;
	}
	&__light-label {
		width: 34px;
		height: 34px;
		background: url(../img/circle.png) 5px 5px no-repeat;
		display: inline-block;
		vertical-align: top;
		margin-right: -6px;
		cursor: pointer;
		float: right;
	}
	&__material {
		&-section {
			display: -webkit-box; 
			display: -moz-box;   
			display: -ms-flexbox; 
			display: -webkit-flex;
			display: flex;
			flex-wrap: wrap;
			-webkit-flex-wrap: wrap;
			justify-content: flex-start;
			-webkit-justify-content: flex-start;
			margin-bottom: 47px;
			margin-left: -25px;
		}
		&-block {
			position: relative;
			margin-bottom: 20px;
			margin-left: 25px;
			&:hover {
				.calculation__tooltip {
					opacity: 1;
					z-index: 10;
					&:hover {
						display: none;
					}
				}
			}
		}
		&-input {
			display: none;
			&:checked + label {
				border: 5px solid #f2ca2a;
				&:after {
					content: '';
					position: absolute;
					background: url(../img/check.png) 0 0 no-repeat;
					width: 41px;
					height: 32px;
					bottom: 7px;
					right: 3px;
				}
			}
		}
		&-label {
			cursor: pointer;
		    display: block;
		    border: 5px solid #eee;
		    border-radius: 10px;
		    position: relative;
		    -webkit-transition: all 0.4s ease;
		    -moz-transition: all 0.4s ease;
		    -ms-transition: all 0.4s ease;
		    -o-transition: all 0.4s ease;
		    transition: all 0.4s ease;
		}
		&-img {
			border-radius: 5px;
		    max-width: 196px;
		    max-height: 109px;
		    width: 100%;
		}
		&-name {
			text-align: center;
			margin: 3px 0 0;
			font-family: 'Fira Sans Light';
		}
		&-country-production {
			vertical-align: top;
			margin: 4px 4px 0 0;
		}
	}
	&__tooltip {
		position: absolute;
		background: #f3f2f2;
		width: 500px;
		border-radius: 7px;
		padding: 17px 16px 14px 22px;
		margin: 0;
		box-shadow: 0 0 10px #eee;
		opacity: 0;
		z-index: -10;
		-webkit-transition: all 0.4s ease;
		-moz-transition: all 0.4s ease;
		-ms-transition: all 0.4s ease;
		-o-transition: all 0.4s ease;
		transition: all 0.4s ease;
		&.tooltip-left {
			right: 90%;
			bottom: 30%;
			&:before {
				content: '';
				position: absolute;
				width: 0;
				height: 0;
				bottom: 40px;
				right: -13px;
				border-left: 13px solid #f3f2f2;
				border-top: 13px solid transparent;
				border-bottom: 13px solid transparent;
			}
		}
		&.tooltip-right {
			left: 90%;
			bottom: 30%;
			&:before {
				content: '';
				position: absolute;
				width: 0;
				height: 0;
				bottom: 40px;
				left: -13px;
				border-right: 13px solid #f3f2f2;
				border-top: 13px solid transparent;
				border-bottom: 13px solid transparent;
			}
		}
		&-text {
			font-size: 18px;
			font-family: 'Fira Sans Light';
			line-height: 27px;
			margin: 0;
			letter-spacing: -1px;
		}
	}
	&__total {
		&-wrap-block {
			padding: 0 41px;
			box-sizing: border-box;
		}
		&-block {
			border-radius: @radius;
			background: #efefef;
			padding: 32px 9px 41px 49px;
			position: relative;
			&:before {
				content: '';
				position: absolute;
				width: 0;
				height: 0;
				top: -16px;
				left: 51%;
				border-left: 18px solid transparent;
				border-right: 18px solid transparent;
				border-bottom: 16px solid #efefef;
			}
		}
		&-text {
			margin: 0 16px 0 0;
			display: inline-block;
			font-size: 32px;
			color: #000;
		}
		&-old-wrap {
			display: inline-block;
			position: relative;
			width: 141px;
			text-align: center;
		}
		&-old-price {
			position: relative;
			color: #000;
			margin: 0;
			font-size: 32px;
			& + .rubl {
				color: #000;
				font-size: 30px;
			}
			&:before {
				content: '';
				position: absolute;
				background: #f20;
				width: 124%;
				height: 1px;
				top: 23px;
				left: 0;
				-moz-transform: rotate(-10deg);
				-webkit-transform: rotate(-10deg);
				-o-transform: rotate(-10deg);
				-ms-transform: rotate(-10deg);
				transform: rotate(-10deg);
			}
		}
		&-price-wrap {
			background: url(../img/price_bg.png) center 5px no-repeat;
			width: 180px;
			height: 64px;
			text-align: center;
			display: inline-block;
			margin-left: 4px;
			margin-right: 11px;
		}
		&-price {
			color: #000;
			margin: 0;
			font-size: 40px;
			font-family: 'Fira Sans Bold';
			& + .rubl {
				font-size: 40px;
				color: #000;

			}
		}
		&-submit {
			font-size: 40px;
			font-family: 'Fira Sans Bold';
			text-align: center;
			padding: 22px 50px 5px 50px;
			border-radius: @radius!important;
			line-height: 22px;
			span {
				font-size: 16px;
				display: inline-block;
				margin: 5px 0;
			}
		}
		&-description {
			color: #a1a1a1;
			font-family: 'Fira Sans Light';
			margin: 0;
			width: 160px;
			bottom: -30px;
			left: 80px;
			position: absolute;
			&:before {
				content: '';
				position: absolute;
				background: url(../img/mini-line.png) 0 0 no-repeat;
				width: 26px;
				height: 26px;
				top: -16px;
				left: -30px;
			}
		}
	}
}


// информационный блок после калькулятора на главной
.inform {
	&__block {
		padding-bottom: 20px;
		background-size: cover!important;
		overflow: hidden;
		-webkit-transition: all 0.4s ease;
		-moz-transition: all 0.4s ease;
		-ms-transition: all 0.4s ease;
		-o-transition: all 0.4s ease;
		transition: all 0.4s ease;
	}
	&__inner-block {
		&:after {
			content: '';
			display: block;
			clear: both;
		}
	}
	&__number {
		font-family: 'Fira Sans Heavy';
		font-size: 190px;
		color: #fff;
		vertical-align: top;
		margin: 15px 0 -13px 0;
		-webkit-transition: all 0.4s ease;
		-moz-transition: all 0.4s ease;
		-ms-transition: all 0.4s ease;
		-o-transition: all 0.4s ease;
		transition: all 0.4s ease;
		top: 0;
		position: relative;
		opacity: 1;
		&.active {
			top: -300px;
			opacity: 0;
		}
	}
	&__text {
		font-size: 54px;
		line-height: 67px;
		color: #fff;
		vertical-align: top;
		margin: 81px 0 50px -6px;
		-webkit-transition: all 0.4s ease;
		-moz-transition: all 0.4s ease;
		-ms-transition: all 0.4s ease;
		-o-transition: all 0.4s ease;
		transition: all 0.4s ease;
		position: relative;
		opacity: 1;
		right: 0;
		&.active {
			right: -600px;
			opacity: 0;
		}
	}
	&__link {
		font-size: 60%;
		color: #fff;
		font-family: 'Fira Sans Light';
		opacity: 0.8;
		outline: none;
		border-bottom: 1px dotted #fff;
		-webkit-transition: all 0.4s ease;
		-moz-transition: all 0.4s ease;
		-ms-transition: all 0.4s ease;
		-o-transition: all 0.4s ease;
		transition: all 0.4s ease;
		&:hover,
		&:active,
		&.active {
			opacity: 1;
			color: #fff;
			text-decoration: none;
			border-bottom: 1px dotted transparent;
		}
	}
	&__link-number {
		font-style: normal;
		font-weight: normal
	}
	&__link-list {
		padding: 0;
		margin: 0;
		text-align: center;
		position: relative;
		z-index: 20;
	}
	&__link-item {
		text-align: left;
		display: inline-block;
		margin: 0 1%;
		width: 22%;
		vertical-align: top;
		line-height: 15px;
	}
}
// блок с приемуществами на главной
.advantages {
	&__block {
		background: #f3f3f3;
		padding: 44px 0 18px 0;
	}
	&__title {
		font-family: 'Fira Sans Bold';
		text-transform: uppercase;
		font-size: 22px;
		margin: 0;
	}
	&__img-wrap {
		width: 100px;
	}
	&__img {
		float: left;
		margin-right: 5px;
	}
	&__text-wrap {
		margin-left: 105px;
	}
	&__text {
		margin: 0;
		font-family: 'Fira Sans Light';
		font-size: 16px;
		line-height: 28px;
	}
}
// блок с картой 
.map {
	&__header-block {
		background: rgba(255, 255, 255, 0.81);
		position: absolute;
		width: 100%;
		z-index: 10;
	}
	&__text {
		margin: 0 10px 0;
		font-family: 'Fira Sans Light';
	}
	&__tab-link {
		color: #2f83d6;
		font-size: 32px;
		border-bottom: 1px dotted rgba(47, 131, 214, 0.84);
		display: inline-block;
		line-height: 30px;
		font-family: 'Fira Sans Light';
		margin-right: 5px;
		&:active,
		&:focus,
		&:hover {
			text-decoration: none;
			color: #2f83d6;
			border-bottom: 1px solid transparent;
		}
		&.active {
			color: #2f3948;
			border-bottom: 1px solid transparent;
		}
	}
	&__wrap {
		width: 100%;
	}
	&__header-block-text {
		padding: 26px 0 17px 0;
	}
	&__btn-block {
		margin-bottom: 19px;
	}
	&__btn {
		font-size: 15px;
		font-family: 'Fira Sans Regular';
		padding: 15px 29px 15px 50px;
		position: relative;
		margin: 0 0px  0 20px;
		&:before {
			content: '';
			position: absolute;
			width: 21px;
		    height: 27px;
		    top: 12px;
		    left: 17px;
		}
		&._calc {
			&:before {
				background: url(../img/calc.png) 0 0 no-repeat;
			}
		}
		&._phone {
			&:before {
				background: url(../img/phone.png) 0 0 no-repeat;
			}
		}
	}
}
#map {
	width: 100%;
	height: 100%;
}
// блок описания
.description {
	&__section {
		padding: 42px 0;
	}
	&__block {
		display: inline-block;
		vertical-align: top;
	}
	&__title {
		text-transform: uppercase;
		font-size: 32px;
		font-weight: 500;
		line-height: 40px;
		margin: 32px 0 21px 0;
	}
	&__text {
		font-size: 16px;
		font-family: 'Fira Sans Light';
		line-height: 28px;
		margin: 0 0 28px 0;
	}
}
// блок справочной информации
.info {
	&__block {
		background: #f8f8f8;
		padding: 20px 40px;
	}
	&__title {
		font-weight: 500;
		margin: 7px 0 24px 0;
		text-transform: uppercase;
	}
	&__title-link {
		color: #2f3948;
		font-size: 73%;
		border-bottom: 1px solid #d0d2d5;
		&:hover {
			text-decoration: none;
			color: #2f3948;
			border-bottom: 1px solid transparent;
		}
	}
	&__article-block {
		margin-bottom: 22px;
	}
	&__article-img-wrap {
		float: left;
		width: 82px;
		height: 82px;
		margin-top: 8px;
	}
	&__article-img {
		max-height: 100%;
		display: block;
		margin: auto;
		border-radius: 50%;

	}
	&__article-text-block {
		margin: -8px 0 0 109px;
	}
	&__article-title {
		font-family: 'Fira Sans Regular';
		margin: 0 0 5px 0;
		font-size: 100%;
	}
	&__article-link {
		color: #2f83d6;
		font-size: 70%;
		font-family: 'Fira Sans Regular';
		border-bottom: 1px solid #bbd5ee;
		&:hover {
			border-bottom: 1px solid transparent;
			color: #2f83d6;
			text-decoration: none;
		}
	}
	&__article-preview-text {
		font-size: 16px;
		font-family: 'Fira Sans Light';
		margin: 0;
		line-height: 27px;
	}
}
// универсальные блоки
.univ {
	&__title-block {
		padding: 0 36px;
		background: #e4ecf5;
		&:after {
			content: '';
			display: block;
			clear: both;
		}
	}
	&__list {
		margin: 0 0 0 -13px;
		padding: 21px 0 0 0;
	}
	&__item {
		display: inline-block;
		margin-left: -4px;
		vertical-align: top;
	}
	&__link {
		font-size: 57%;
		display: inline-block;
		padding: 9px 18px 30px 18px;
		color: #2f83d6;
		font-family: 'Fira Sans Regular';
		-webkit-transition: all 0.4s ease;
		-moz-transition: all 0.4s ease;
		-ms-transition: all 0.4s ease;
		-o-transition: all 0.4s ease;
		transition: all 0.4s ease;
		.line {
			border-bottom: 1px dotted #2f83d6;
			display: inline-block;
			line-height: 18px;
		}
		&.active,
		&:hover {
			color: #2f83d6;
			text-decoration: none;
			border-radius: 12px 12px 0 0;
			color: #fff;
			background: #2f83d6;
			.line {
				border-bottom: 1px dotted transparent;
			}
		}
		&.active {
			cursor: default;
		}
	}
	// универстальный блок с картинками
	&__block {
		padding: 36px 38px 16px 38px;
		&:nth-child(odd) {
			background: #f8f8f8;
		}
		&:nth-child(even) {
			background: #ececed;
		}
		&.bg-light-grey {
			background: #f8f8f8!important;
		}
	}
	&__title {
		line-height: 32px;
		margin: 0 0 8px 0;
		font-size: 24px;
		font-family: 'Fira Sans Regular';
	}
	&__text {
		font-size: 16px;
		font-family: 'Fira Sans Light';
		margin: 22px 0 0 0;
		line-height: 28px;
	}
	&__text-bold {
		font-family: 'Fira Sans Medium';
	}
	&__img-wrap {
		margin-bottom: 20px;
		background: #fff;
		border: 1px solid #e9e9e9;
		padding: 5px
	}
	&__btn {
		font-size: 16px;
		font-family: 'Fira Sans Bold';
		display: inline-block;
		margin: 31px 0;
		padding: 15px 18px;
	}
	&__content-wrap {
		margin: 0 -30px 0 0;
		position: relative;
		z-index: 20;
	}
	&__title-text {
		padding: 27px 0 15px 0;
		font-family: 'Fira Sans Regular';
		font-size: 16px;
		margin: 0;
	}
	&__title-btn {
		margin: 13px 0 10px 20px;
		padding: 15px 27px;
	}
	&__list-text {
		padding: 0;
		margin: 28px 0;
	}
	&__item-img {
		max-height: 108px;
		max-width: 200px;
		margin-bottom: 6px;
	}
	&__list-item {
		display: inline-block;
		vertical-align: top;
		width: 31%;
		padding-right: 8%;
		margin-bottom: 20px;
	}
	&__item-text {
		font-family: 'Fira Sans Light';
		font-size: 16px;
		margin: 0;
	}
	&__subtitle {
		font-size: 28px;
		margin: 0 0 10px 0;
		text-transform: uppercase;
		letter-spacing: -1px;
		font-weight: normal;
		a {
			font-size: 50%;
			color: #2f83d6;
			border-bottom: 2px solid #2f83d6;
			&:active,
			&:focus,
			&:hover {
				text-decoration: none;
				border-bottom: 2px solid transparent;
			}
		}
	}
	// блок табов на странице корпоративных клиентов
	&__tab-list {
		padding: 0;
		margin: 20px 0;
		text-align: center;
	}
	&__tab-item {
		width: 30%;
		margin: 0 1%;
		vertical-align: top;
		display: inline-block;
	}
	&__tab-img {
		margin-bottom: 6px;
		margin-right: 5px;
	}
	&__tab-link {
		font-size: 24px;
		color: #2f83d6;
		display: inline-block;
		border-bottom: 1px dotted #2f83d6;
		line-height: 24px;
		text-decoration: none;
		-webkit-transition: all 0.4s ease;
		-moz-transition: all 0.4s ease;
		-ms-transition: all 0.4s ease;
		-o-transition: all 0.4s ease;
		transition: all 0.4s ease;
		&:hover {
			color: #2f83d6;
			text-decoration: none;
			border-bottom: 1px dotted transparent;
		}
		&:focus,
		&:active,
		&.active {
			color: #2f3948;
			border-bottom: 1px dotted transparent;
			cursor: default;
			text-decoration: none;
		}
	}
	&__tab-inner {
		position: relative;
		background: #e4ecf5;
		border-radius: 10px;
		box-sizing: border-box;
		padding: 10px 30px;
		opacity: 0;
		z-index: -1;
		display: none;
		max-height: 1px;
		top: 0;
		left: 0;
		-webkit-transition: all 0.4s ease;
		-moz-transition: all 0.4s ease;
		-ms-transition: all 0.4s ease;
		-o-transition: all 0.4s ease;
		transition: all 0.4s ease;
		&:before {
			content: '';
			position: absolute;
			top: -15px;
			border-bottom: 15px solid #e4ecf5;
			border-left: 12px solid transparent;
			border-right: 12px solid transparent;
			-webkit-transition: all 0.4s ease;
			-moz-transition: all 0.4s ease;
			-ms-transition: all 0.4s ease;
			-o-transition: all 0.4s ease;
			transition: all 0.4s ease;
		}
		&.active {
			opacity: 1;
			z-index: 1;
			display: block;
			max-height: 2000px;
			position: relative;
			&[data-index="tab-1"] {
				&:before {
					left: 16%;
				}
			}
			&[data-index="tab-2"] {
				&:before {
					left: 48%;
				}
			}
			&[data-index="tab-3"] {
				&:before {
					left: 81%;
				}
			}
		}
	}
	&__tab-content {
		-webkit-transition: all 0.4s ease;
		-moz-transition: all 0.4s ease;
		-ms-transition: all 0.4s ease;
		-o-transition: all 0.4s ease;
		transition: all 0.4s ease;
	}
	&__tab-content-list {
		padding: 0;
		li {
			font-size: 24px;
			color: #2f3948;
			margin-bottom: 20px;
			padding-left: 40px;
			background: url(../img/list-type.png) left center no-repeat;
		}
	}
	&__tab-content-img {
		margin-top: 30px;
	}
	&__price-block {
		margin: -30px 0 10px 0;
		font-size: 22px;
		font-family: 'Fira Sans Regular';
	}
	&__price-old {
		display: inline-block;
		color: #323232;
		font-size: 32px;
		margin: 0 10px;
		font-family: 'Fira Sans Regular';
		position: relative;
		&:before {
			content: '';
		    position: absolute;
		    background: #f20;
		    width: 100%;
		    height: 1px;
		    top: 23px;
		    left: 0;
		    -moz-transform: rotate(-10deg);
		    -webkit-transform: rotate(-10deg);
		    -o-transform: rotate(-10deg);
		    -ms-transform: rotate(-10deg);
		    transform: rotate(-10deg);
		}
	}
	&__price-current {
		background: url(../img/price_bg.png) center 5px no-repeat;
		width: 180px;
		height: 64px;
		font-size: 40px;
		margin: 0 11px 0 4px;
		text-align: center;
		font-family: 'Fira Sans Medium';
		display: inline-block;
	}
	&__subtext {
		font-size: 24px;
		font-family: 'Fira Sans Light';
		line-height: 32px;
		margin: 0 0 15px 0;
	}
	&__blockquote-block {
		border-radius: 10px;
	    background: #e4ecf5;
	    padding: 30px 38px;
	    box-sizing: border-box;
	    margin-bottom: 45px;
	}
	&__blockquote-text {
		margin: 0;
		font-size: 24px;
		font-family: 'Fira Sans Regular';
		a {
			display: inline-block;
			border-bottom: 1px solid;
			color: #2f83d6;
			line-height: 24px;
			&:hover {
				text-decoration: none;
				border-bottom: 1px solid transparent;
			}
		}
		span {
			font-family: 'Fira Sans Medium';
		}
	}
}
// блок с акцией
.action {
	&__block {
		margin-top: 19px;
		text-align: center;
		position: relative;
		z-index: 10; 
		&.docs_bg {
			&:before {
				content: '';
				position: absolute;
				background: url(../img/docs.png) 0 0 no-repeat;
				width: 674px;
				height: 1145px;
				top: 243px;
				left: -393px;
				z-index: -2;
			}
		}
		&.mouthpiece_bg {
			&:before {
				content: '';
				position: absolute;
				background: url(../img/mouthpiece.png) 0 0 no-repeat;
				width: 479px;
				height: 609px;
				top: 328px;
			    left: -62px;
				z-index: -2;
			}
		}
		&.suit_bg {
			&:before {
				content: '';
				position: absolute;
				background: url(../img/suit.png) 0 0 no-repeat;
				width: 740px;
				height: 959px;
				top: 368px;
				left: -348px;
				z-index: -2;
			}
		}
		&.papper_bg {
			&:before {
				content: '';
				position: absolute;
				background: url(../img/papper.png) 0 0 no-repeat;
				width: 441px;
				height: 783px;
				top: 458px;
				left: -48px;
				z-index: -2;
			}
		}
	}
	&__block-content {
		text-align: center;
		padding: 25px 16px;
		background-size: cover!important;
		&.v-1 {
			background: url(../img/univ_sidebar_bg.jpg) 0 0 no-repeat;
			.action__title {
				font-size: 36px;
			}
		}
		&.v-2 {
			background: url(../img/orange_bg.png) 0 0 no-repeat;
			.action__title {
				font-size: 30px;
			}
			.action__text {
				font-size: 24px;
				font-family: 'Fira Sans Bold';
				text-transform: uppercase;
				line-height: 26px;
			    margin-bottom: 20px;
			}
		}
		&.v-3 {
			background: url(../img/red_bg.png) 0 0 no-repeat;
			.action__title {
				font-size: 30px;
			}
			.action__btn {
				padding: 18px 18px 15px 18px!important;
				margin-top: 5px;
			}
			.action__text {
				font-size: 24px;
				font-family: 'Fira Sans Bold';
			}
			.action__title {
				font-size: 36px;
				font-family: 'Fira Sans Bold';
				display: inline-block;
				color: #fff;
				margin: 10px 0 20px;
			}
		}
	}
	&__title {
		font-size: 38px;
		color: #fff;
		text-transform: uppercase;
		font-family: 'Fira Sans Bold';
		margin: 0;
	}
	&__text {
		font-family: 'Fira Sans Regular';
		color: #fff;
		line-height: 20px;
		margin: 0 0 5px;
		font-size: 15px;
	}
	&__countdown-text {
		color: #fff;
		font-size: 20px;
		margin: 0 0 8px;
		font-family: 'Fira Sans Regular';
	}
	&__btn {
	    padding: 18px 27px 15px 27px!important;
	    font-size: 16px!important;
	    margin-top: 24px;
	}
}
#countdown_dashboard_action {
	margin: 0 auto;
	display: inline-block;
}
// блок с отзывом
.review {
	&__block {
		margin-bottom: 24px;
		margin-top: 7px;
	}
	&__autor-img {
		width: 82px;
		height: 82px;
		border-radius: 50%;
	}
	&__autor {
		font-family: 'Fira Sans Light Italic';
		margin: -2px 0 6px -16px;
	}
	&__date {
		font-family: 'Fira Sans Medium';
		font-style: italic;
	}
	&__text {
		font-family: 'Fira Sans Light';
		font-size: 16px;
		margin: 0 0 25px -16px;
		line-height: 28px;
	}
	&__rating-block {
		margin-top: 4px;
		position: relative;
		width: 105px;
		height: 19px;
		background: url(../img/star.png) 0 0 repeat-x;
	}
	&__rating-active {
		height: 19px;
		background: url(../img/active_star.png) 0 0 repeat-x;
		display: block;
		width: 21px;
	}
}
// сайтбар
.sidebar {
	background: #ececed;
	padding: 25px;
	box-sizing: border-box;
	position: relative;
	&:before {
		content: '';
		position: absolute;
		bottom: 29px;
		box-sizing: border-box;
		left: 22px;
		right: 0;
		width: 75%;
		box-shadow: 0 0 11px 10px #ececed;
	}
	&.fix {
		height: 875px;
	}
}
// список городов в контактах
.city-list {
	&__wrapper {
		max-height: 825px;
		overflow-y: auto;
		padding: 6px;
		box-sizing: border-box;

	}
	&__list {
		padding: 0;
		margin: 0;
	}
	&__item {
		padding: 3px 0;
	}
	&__link {
		color: #2f3948;
		margin: 6px 8px;
		border-bottom: 1px solid #b3b6bb;
		font-size: 60%;
		line-height: 16px;
		font-family: 'Fira Sans Light';
		&:active,
		&:focus,
		&:hover {
			color: #2f3948;
			text-decoration: none;
			border-bottom: 1px solid transparent;
		}
		&.active {
			color: #fff;
			padding: 13px 12px 7px 8px;
			margin: 3px 0;
			background: #2f83d6;
			border-bottom: none;
			font-family: 'Fira Sans Regular';
			position: relative;
			&:before {
				content: '';
			    position: absolute;
			    top: 0px;
			    right: -15px;
			    box-sizing: border-box;
			    border-top: 16px solid transparent;
			    border-bottom: 16px solid transparent;
			    border-left: 15px solid #2f83d6;
			}
		}
	}
}
// основной блок контента в контактах
.contact {
	&__content-block {
		background: #f8f8f8;
		height: 875px;
		margin-left: -30px;
		padding: 36px 0;
		position: relative;
		z-index: 15;
		&._margin-right {
			margin-right: -30px;
			margin-left: 0;
		}
	}
	&__content-wrapper {
		padding: 0 30px;
		box-sizing: border-box;
	}
	&__map-block {
		width: 100%;
		height: 245px;
		margin: 15px 0 45px 0;
	}
	&__text {
		font-size: 16px;
		margin: 0 0 6px;
		font-family: 'Fira Sans Light';
	}
	&__address {
		color: #000;
		font-size: 40px;
		font-family: 'Fira Sans Light';
		margin: 0 0 28px 0;
		line-height: 48px;
	}
	&__phone {
		display: block;
		color: #2f3948;
		font-size: 40px;
		font-family: 'Fira Sans Regular';
		margin: -6px 0px;
		&:hover {
			color: #2f3948;
			text-decoration: none;
		}
	}
	&__email {
		font-family: 'Fira Sans Light';
		font-size: 144%;
		color: #2f83d6;
		word-break: break-all;
		border-bottom: 2px solid #2f83d6;
		position: relative;
		top: -14px;
		&:focus,
		&:active,
		&:hover {
			color: #2f83d6;
			text-decoration: none;
			border-bottom: 1px solid transparent;
		}
	}
	// форма в контактах
	&__form-block {
		border-radius: 10px;
		background: #e4ecf5;
		padding: 34px 38px 2px 38px;
		box-sizing: border-box;
	}
	&__form-title {
		text-transform: uppercase;
		font-size: 28px;
		margin: 0 0 4px 0;
	}
	&__form {
		margin: 23px 0;
	}
	&__form-input {
		font-size: 16px;
		padding: 0 21px;
		width: 263px;
		box-sizing: border-box;
		height: 51px;
		line-height: 51px;
		font-family: 'Fira Sans Light';
		border-top: 1px solid #c6c9d0;
		border-bottom: 1px solid #dce0e4;
		border-left: 1px solid #dee2e7;
		background: rgb(224,224,224); /* Old browsers */
		background: -moz-linear-gradient(top,  rgba(224,224,224,1) 0%, rgba(235,235,235,1) 2%, rgba(241,241,241,1) 4%, rgba(243,243,243,1) 8%, rgba(244,244,244,1) 20%, rgba(252,252,252,1) 49%, rgba(253,253,253,1) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(224,224,224,1)), color-stop(2%,rgba(235,235,235,1)), color-stop(4%,rgba(241,241,241,1)), color-stop(8%,rgba(243,243,243,1)), color-stop(20%,rgba(244,244,244,1)), color-stop(49%,rgba(252,252,252,1)), color-stop(100%,rgba(253,253,253,1))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  rgba(224,224,224,1) 0%,rgba(235,235,235,1) 2%,rgba(241,241,241,1) 4%,rgba(243,243,243,1) 8%,rgba(244,244,244,1) 20%,rgba(252,252,252,1) 49%,rgba(253,253,253,1) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  rgba(224,224,224,1) 0%,rgba(235,235,235,1) 2%,rgba(241,241,241,1) 4%,rgba(243,243,243,1) 8%,rgba(244,244,244,1) 20%,rgba(252,252,252,1) 49%,rgba(253,253,253,1) 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  rgba(224,224,224,1) 0%,rgba(235,235,235,1) 2%,rgba(241,241,241,1) 4%,rgba(243,243,243,1) 8%,rgba(244,244,244,1) 20%,rgba(252,252,252,1) 49%,rgba(253,253,253,1) 100%); /* IE10+ */
		background: linear-gradient(to bottom,  rgba(224,224,224,1) 0%,rgba(235,235,235,1) 2%,rgba(241,241,241,1) 4%,rgba(243,243,243,1) 8%,rgba(244,244,244,1) 20%,rgba(252,252,252,1) 49%,rgba(253,253,253,1) 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0e0e0', endColorstr='#fdfdfd',GradientType=0 ); /* IE6-9 */

	}
	&__form-btn {
		font-size: 16px;
		height: 52px;
		line-height: 52px;
		margin: 0 0 0 -12px;
		padding: 0 19px;
		font-family: 'Fira Sans Bold';
	}
	&__form-detail {
		font-family: 'Fira Sans Light Italic';
		font-size: 14px;
		color: #2f3948;
		margin: 0;
		position: relative;
		vertical-align: bottom;
		padding-left: 90px;
		&:before {
			content: '';
			position: absolute;
			background: url(../img/form-line.png) 0 0 no-repeat;
			width: 77px;
			height: 17px;
			top: -4px;
			left: 7px;
		}
	}
}
// слайдеры картинок на главной
.slider__img-wrap {
	.bx-wrapper .bx-viewport {
		padding-bottom: 15px;
		box-sizing: content-box;
	}
	.bx-wrapper .bx-pager {
		bottom: 30px;
	}
}

// модальное вызова замерщика
.modal {
	&__inner {
		background: url(../img/modal_bg.png);
		position: relative;
		padding-bottom: 35px;
	}
	&__block {
		position: relative;
		overflow: hidden;
		max-height: 0px;
		margin-top: -58px;
		padding-top: 58px;
		-webkit-transition: all 1s 1.5s ease;
		-moz-transition: all 1s 1.5s ease;
		-ms-transition: all 1s 1.5s ease;
		-o-transition: all 1s 1.5s ease;
		transition: all 1s 1.5s ease;
		&.active {
			max-height: 500px;
			z-index: 3000;
			.modal__btn-close {
				opacity: 1;
				z-index: 1;
			}
		}
	}
	&__line {
		position: absolute;
		top: 0;
		left: 0;
		width: 0;
		height: 2px;
		background: #fff;
		z-index: 4000;
		-webkit-transition: width 0.4s 0.5s ease;
		-moz-transition: width 0.4s 0.5s ease;
		-ms-transition: width 0.4s 0.5s ease;
		-o-transition: width 0.4s 0.5s ease;
		transition: width 0.4s 0.5s ease;
		&.active {
			position: absolute;
			top: 56px;
			left: 0;
			width: 100%;
			height: 2px;
		}
	}
	* {
		-webkit-transition: all 0.4s ease;
		-moz-transition: all 0.4s ease;
		-ms-transition: all 0.4s ease;
		-o-transition: all 0.4s ease;
		transition: all 0.4s ease;
	}
	&__btn-close {
		color: #fff;
		position: absolute;
		top: -56px;
		right: 15px;
		font-family: 'Fira Sans Light';
		font-size: 22px;
		display: inline-block;
		text-decoration: none;
		padding-right: 50px;
		opacity: 0;
		z-index: -100;
		-webkit-transition: all 0.5s 2s ease;
		-moz-transition: all 0.5s 2s ease;
		-ms-transition: all 0.5s 2s ease;
		-o-transition: all 0.5s 2s ease;
		transition: all 0.5s 2s ease;
		&:active,
		&:focus,
		&:hover {
			color: #fff;
			text-decoration: none;
			&:before {
				-moz-transform: rotate(-180deg);
				-webkit-transform: rotate(-180deg);
				-o-transform: rotate(-180deg);
				-ms-transform: rotate(-180deg);
				transform: rotate(-180deg);
			}
		}
		&:before {
			content: '';
			background: url(../img/close.png) 0 0 no-repeat;
			position: absolute;
			width: 35px;
			height: 35px;
			top: -2px;
			right: 0;
			-webkit-transition: all 0.4s ease;
			-moz-transition: all 0.4s ease;
			-ms-transition: all 0.4s ease;
			-o-transition: all 0.4s ease;
			transition: all 0.4s ease;
		}
	}
	&__title {
		font-size: 8em;
		font-family: 'Fira Sans Hair';
		font-weight: normal;
		margin: -6px 0 9px;
		letter-spacing: 2px;
		text-transform: uppercase;
		text-align: center;
	}
	&__label {
		font-size: 24px;
		font-family: 'Fira Sans Light';
	}
	&__input {
		background: none;
		border: none;
		font-size: 24px;
		width: 74.67%;
		padding: 0 10px;
		box-sizing: border-box;
		height: 41px;
		margin: -6px 0 12px 12px;
		border: 1px solid #dce1e5;
		border-top-color: #c6cbd1;
		box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
		background: -moz-linear-gradient(top, #f1f1f1, #ffffff);
		background: -webkit-linear-gradient(top, #f1f1f1, #ffffff);
		background: -o-linear-gradient(top, #f1f1f1, #ffffff);
		background: -ms-linear-gradient(top, #f1f1f1, #ffffff);
		background: linear-gradient(top, #f1f1f1, #ffffff);
		background-color: white;
		&::-webkit-input-placeholder {font-family: 'Fira Sans Light';}
		&:-moz-placeholder {font-family: 'Fira Sans Light';}
		&::-moz-placeholder {font-family: 'Fira Sans Light';}
		&:-ms-input-placeholder {font-family: 'Fira Sans Light';}
		&.width-230 {
			width: 230px;
		}
	}
	&__submit {
		font-size: 22px;
		width: 285px;
		line-height: 55px;
		border-radius: 10px!important;
		text-align: center;
		font-family: 'Fira Sans Bold';
		margin: -11px 0 0 0;
	}
	&__wrapper {
		background: #08335e;
		opacity: 0;
		z-index: -100;
		width: 100%;
		height: 100%;
		position: fixed;
		-webkit-filter: blur(1px);
		-webkit-transition: all 1s ease;
		-moz-transition: all 1s ease;
		-ms-transition: all 1s ease;
		-o-transition: all 1s ease;
		transition: all 1s ease;
		&.active {
			opacity: 0.9;
			z-index: 2200;
		}
	}
}
/* страница калькулятора */
.estimation {
	&__section {
		background: url(../img/calc_pattern.png);
		position: relative;
		overflow: hidden;
		&:before {
			content: '';
			position: absolute;
			background: url(../img/calc_bg_img.png) top center no-repeat;
			width: 100%;
			height: 1186px;
			top: 50px;
			left: 0;
			right: 0;
		}
	}
	&__block {
		max-width: 950px;
		position: relative;
		margin: 0 auto;
		min-height: 1000px;
		padding: 20px 8%;
		margin-bottom: 250px;
		&:before {
			content: '';
			position: absolute;
			background: url(../img/ipad.png) top center no-repeat;
			width: 949px;
			height: 100%;
			top:100px;
			left: 0;
			z-index: 1;
		}
		&:after {
			content: '';
			position: absolute;
			background: url(../img/ipad_line.png) repeat-y;
			width: 949px;
			height: 100%;
			top: 327px;
			left: 0px;
			z-index: 1;
		}
	}
	&__header {
		position: relative;
	    z-index: 2;
	    margin-bottom: 50px;
	    padding-top: 220px;
	    opacity: 1;
	    display: none;
	    &-img {
	    	float: left;
	    	border-radius: 50%;
	    }
	    &-title {
	    	margin: 17px 0 0 135px;
    	    text-transform: uppercase;
    	    font-size: 30px;
    	    font-family: 'Fira Sans Ultra';
    	    vertical-align: top;
    	    box-sizing: border-box;
    	    padding-right: 60px;
	    }
	}
	&__body {
		position: relative;
		z-index: 2;
	}
	&__message {
		position: relative;
		border-radius: 30px;
		line-height: 31px;
		z-index: 10;
		-webkit-transition: opacity 0.6s 1s ease;
		-moz-transition: opacity 0.6s 1s ease;
		-ms-transition: opacity 0.6s 1s ease;
		-o-transition: opacity 0.6s 1s ease;
		transition: opacity 0.6s 1s ease;
		max-height: 0px;
		height: 0;
		overflow: hidden;
		opacity: 0;
		z-index: -100;
		padding: 0;
		margin: 0;
		&.active {
			margin-bottom: 30px;
			box-sizing: border-box;
			padding: 26px 30px 29px 39px;
			height: auto;
			opacity: 1;
			z-index: 1;
			max-height: 2000px;
			overflow: visible;
			// -webkit-animation: scale 1.5s ease-in-out;
			// -moz-animation:    scale 1.5s ease-in-out;
			// -o-animation:      scale 1.5s ease-in-out;
			// animation:         scale 1.5s ease-in-out;
			// @-webkit-keyframes scale {
			//     0%   {
			//     	transform: scale(0);
			//     }
			//     50% {
			//     	transform: scale(0.6);
			//     }
			//     75%  {
			// 		transform: scale(1.1);
			//     }
			//     100% {
			// 		transform: scale(1);
			//     }
			// } 

			// /* Standard syntax */ 
			// @keyframes scale {
			//     0%   {
			//     	transform: scale(0);
			//     }
			//     50% {
			//     	transform: scale(0.6);
			//     }
			//     75%  {
			// 		transform: scale(1.1);
			//     }
			//     100% {
			// 		transform: scale(1);
			//     }
			// }
		}
		& > span {
			font-family: 'Fira Sans Medium';
		}
		// стилизация сообщения админа
		&.admin {
			color: #323232;
			font-size: 24px;
			margin-left: 3%;
			font-family: 'Fira Sans Light';
			background: rgb(227,227,232);
			background: -moz-linear-gradient(top,  rgba(227,227,232,1) 0%, rgba(224,224,229,1) 31%, rgba(205,205,210,1) 100%); 
			background: -webkit-linear-gradient(top,  rgba(227,227,232,1) 0%,rgba(224,224,229,1) 31%,rgba(205,205,210,1) 100%);
			background: linear-gradient(to bottom,  rgba(227,227,232,1) 0%,rgba(224,224,229,1) 31%,rgba(205,205,210,1) 100%); 
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e3e3e8', endColorstr='#cdcdd2',GradientType=0 );
			&:before {
				content: '';
				position: absolute;
				background: url(../img/admin_say.png) 0 0 no-repeat;
				width: 49px;
				height: 24px;
				bottom: 0;
				left: -10px;
				z-index: -1;
			}
		}
		// стилизация сообщения предоставляемого выбора
		&.transparent {
			border: 1px solid #b2b2b2;
			&:before {
				content: '';
				position: absolute;
				background: url(../img/transp.jpg) 0 0 no-repeat;
				width: 75px;
				height: 57px;
				bottom: -6px;
				right: -13px;
				z-index: -1;
			}
			.calculation__material-section {
				margin-left: -18px;
			}
			.calculation__amount {
				margin: 4px 0 12px 0;
				width: 80%;
			}
			.calculation__slider {
				width: 78%;
				margin: -55px 0 0 0;
			}
			.calculation__metrs {
				bottom: 0;
			}
			.calculation__material-block {
				margin-left: 10px;
			}
		}
		&.user {
			background: #0084DA;
			color: #fff;
			float: right;
			font-size: 24px;
			font-family: 'Fira Sans Light';
			&:before {
				content: '';
				position: absolute;
				background: url(../img/user_say.png) 0 0 no-repeat;
				width: 47px;
				height: 26px;
				bottom: 0px;
				right: -12px;
				z-index: -1;
			}
		}
		.calculation__material-country-production {
			margin: 8px 4px 0 0;
		}
	}
	// кнопка
	&__btn {
		color: #fff;
		background: #2f83d6;
		border-radius: 15px;
		border: none;
		font-size: 22px;
		font-family: 'Fira Sans Bold';
		box-sizing: border-box;
		padding: 10px 15px;
		min-width: 195px;
		text-align: center;
		-webkit-transition: all 0.4s ease;
		-moz-transition: all 0.4s ease;
		-ms-transition: all 0.4s ease;
		-o-transition: all 0.4s ease;
		transition: all 0.4s ease;
		&[disabled] {
			background: #eee;
			&:hover {
				background: #eee;
			}
		}
		&:hover {
			background: darken(#2f83d6, 5%);
		}
		&.btn-uppercase {
			text-transform: uppercase;
		}
	}
	&__checkbox-label {
		display: inline-block;
		font-size: 22px;
		font-family: 'Fira Sans Bold';
		margin: 0 10px 15px 0;
		cursor: pointer;
		padding-left: 30px;
		position: relative;
		&:before {
			content: '';
			position: absolute;
			background: url(../img/checkbox.png) 0 -29px no-repeat;
			width: 26px;
			height: 26px;
			top: 0px;
			left: -5px;
		}
	}
	&__checkbox {
		display: none;
		&:checked + label {
			&:before {
				background-position: 0px 0px;
			}
		}
	}
	&__textarea,
	&__input {
		background: none;
		border: none;
		font-size: 24px;
		width: 62px;
		box-sizing: border-box;
		height: 41px;
		padding: 0 10px;
		text-align: center;
		border: 1px solid #dce1e5;
		border-top-color: #c6cbd1;
		box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
		background: -moz-linear-gradient(top, #f1f1f1, #ffffff);
		background: -webkit-linear-gradient(top, #f1f1f1, #ffffff);
		background: -o-linear-gradient(top, #f1f1f1, #ffffff);
		background: -ms-linear-gradient(top, #f1f1f1, #ffffff);
		background: linear-gradient(top, #f1f1f1, #ffffff);
		background-color: white;
		-webkit-transition: all 0.4s ease;
		-moz-transition: all 0.4s ease;
		-ms-transition: all 0.4s ease;
		-o-transition: all 0.4s ease;
		transition: all 0.4s ease;
		&::-webkit-input-placeholder {font-family: 'Fira Sans Light';}
		&:-moz-placeholder {font-family: 'Fira Sans Light';}
		&::-moz-placeholder {font-family: 'Fira Sans Light';}
		&:-ms-input-placeholder {font-family: 'Fira Sans Light';}
		&[readonly] {
			opacity: 0.5;
		}
	}
	&__textarea {
		height: auto;
		width: 100%;
		resize: none;
	}
	&__quantity {
		font-size: 16px;
		display: inline-block;
		margin: 0 0 0 10px;
	}
	&__old-price {
		position: relative;
		display: inline-block;
		color: #000;
		margin: 0;
		font-size: 32px;
		&:before {
			content: '';
			position: absolute;
			background: #f20;
			width: 133%;
			height: 1px;
			top: 15px;
			left: 0;
			-moz-transform: rotate(-10deg);
			-webkit-transform: rotate(-10deg);
			-o-transform: rotate(-10deg);
			-ms-transform: rotate(-10deg);
			transform: rotate(-10deg);
		}
		& + .rubl {
			color: #000;
			font-size: 32px;
		}
	}
	&__current-price-wrapper {
		background: url(../img/price_bg.png) center 0px no-repeat;
		width: 180px;
		padding-top: 10px;
		text-align: center;
		display: inline-block;
		margin-left: -4px;
	}
	&__current-price {
		color: #000;
		margin: 0;
		font-size: 40px;
		font-family: 'Fira Sans Bold';
		& + .rubl {
			font-size: 40px;
		    color: #000;
		}
	}
	&__form-label {
		display: inline-block;
		font-size: 24px;
		color: #343434;
		font-family: 'Fira Sans Light';
		margin-top: 5px;
		margin-bottom: 20px;
	}
}

.iframe {
	position: relative;
	display: block;
	&:before {
		content: '';
		position: absolute;
		background: rgba(0, 0, 0, 0.44) url(../img/play.png) center center no-repeat;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		-webkit-transition: all 0.4s ease;
		-moz-transition: all 0.4s ease;
		-ms-transition: all 0.4s ease;
		-o-transition: all 0.4s ease;
		transition: all 0.4s ease;
	}
	&:hover {
		&:before {
			background: rgba(0, 0, 0, 0.75) url(../img/play.png) center center no-repeat;
		}
	}
}

// список статей
.article-list {
	&__img {
		width: 82px;
		height: 82px;
		border-radius: 50%;
	}
	&__title {
		color: #2f83d6;
		margin: 0 0 10px 0;
		a {
			font-size: 50%;
			border-bottom: 1px solid #b3cce6;
			&:hover {
				text-decoration: none;
				border-bottom: 1px solid transparent;
			}
		}
	}
	&__text {
		font-family: 'Fira Sans Light';
		font-size: 16px;
		margin: 0 0 20px 0;
		line-height: 28px;
	}
	&__text-wrap {
		margin-left: -15px;
	}
}
//  добавление отзыва
.feedback {
	&__block {}
	&__title {
		font-size: 24px;
		margin: 0 0 20px 0;
		font-family: 'Fira Sans Regular';
		font-weight: normal;
	}
	&__text {
		font-size: 16px;
		font-family: 'Fira Sans Regular';
		margin: 0 0 40px;
	}
	&__social-link {
		margin-right: 15px;
	}
	&__form-block {
		margin: 90px 0 20px 0;
	}
	&__form-label {
		font-size: 24px;
		font-family: 'Fira Sans Light';
	}
	&__form-file-wrap,
	&__form-textarea,
	&__form-input {
		border: none;
	    font-size: 24px;
	    width: 100%;
	    box-sizing: border-box;
	    height: 41px;
	    margin: 0;
	    padding: 0 10px;
	    border: 1px solid #dce1e5;
	    border-top-color: #c6cbd1;
	    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
	    background: -moz-linear-gradient(top, #f1f1f1, #ffffff);
	    background: -webkit-linear-gradient(top, #f1f1f1, #ffffff);
	    background: -o-linear-gradient(top, #f1f1f1, #ffffff);
	    background: -ms-linear-gradient(top, #f1f1f1, #ffffff);
	    background: linear-gradient(top, #f1f1f1, #ffffff);
	    background-color: white;
	}
	&__form-textarea {
		resize: none;
		height: auto;
	}
	&__form-file-wrap {
		overflow: hidden;
	}
	&__form-input-file {
		margin-top: -40px;
		margin-left: -10px;
		-moz-opacity: 0;
		filter: alpha(opacity=0);
		opacity: 0;
		font-size: 150px;
		height: 40px;
		width: 110%;
	}
	&__form-file-text {
		width: 100%;
		text-align: center;
		text-transform: uppercase;
		opacity: 0.7;
		line-height: 40px;
		font-size: 22px;
	}
	&__form-btn {
		margin-left: 0;
	    margin-bottom: 30px;
	    padding: 15px 27px;
	}
}
// рейтинг
.rating {
	vertical-align: top;
}
.vote-stars,
.vote-active {
	position: absolute;
	top: 0;
	left: 0;
}
.vote-success {
	display: none;
}
div.vote-block {
	position: relative;
	margin: 0 5px;
}
div.vote-hover {
    float: left;
    padding: 0!important;
    margin-left: -4px;
    cursor: pointer;
}
div.vote-wrap {
    overflow: hidden;
}

// страница прайса
.price-table {
	&__wrap-block {
		overflow-x: auto;
		margin-bottom: 30px;
	}
	&__table {
		width: 100%;
		thead {
			background: #9199a4;
			th {
				color: #fff;
				font-size: 16px;
				font-family: 'Fira Sans Regular';
				padding: 13px 0;
				font-weight: normal;
				text-align: left;
				&:first-child {
					padding-left: 40px;
					width: 70%;
				}
			}
		}
		tbody {
			background: #ececed;
			td {
				padding: 13px 0;
				font-size: 16px;
				&:first-child {
					color: #2f3948;
					font-family: 'Fira Sans Light';
					padding-left: 40px;
					width: 70%;
					vertical-align: bottom;
				}
				&:last-child {
					width: 12%;
					vertical-align: bottom;
				}
			}
		}
	}
	&__table-current-price {
		font-size: 18px;
		display: inline-block;
		margin: 0 0 0 0;
		color: #000;
	}
	&__table-old-price {
		position: relative;
		top: -5px;
		margin: 0 0 0 10px;
		display: inline-block;
		font-size: 16px;
		color: #2f3948;
		font-family: 'Fira Sans Light';
		&:before {
			content: '';
			position: absolute;
			background: #f20;
			width: 100%;
			height: 1px;
			top: 13px;
			left: 0;
			-moz-transform: rotate(-12deg);
			-webkit-transform: rotate(-12deg);
			-o-transform: rotate(-12deg);
			-ms-transform: rotate(-12deg);
			transform: rotate(-12deg);
		}
	}
}