@font-face {
    font-family: 'Fira Sans Heavy';
    src: url('../fonts/firasans-heavy.eot');
    src: url('../fonts/firasans-heavy.eot?#iefix') format('embedded-opentype'),
         url('../fonts/firasans-heavy.woff') format('woff'),
         url('../fonts/firasans-heavy.ttf') format('truetype');
}
@font-face {
    font-family: 'Fira Sans Regular';
    src: url('../fonts/firasans-regular.eot');
    src: url('../fonts/firasans-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/firasans-regular.woff') format('woff'),
         url('../fonts/firasans-regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Fira Sans Bold';
    src: url('../fonts/firasans-bold.eot');
    src: url('../fonts/firasans-bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/firasans-bold.woff') format('woff'),
         url('../fonts/firasans-bold.ttf') format('truetype');
}
@font-face {
    font-family: 'Fira Sans Light';
    src: url('../fonts/firasans-light.eot');
    src: url('../fonts/firasans-light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/firasans-light.woff') format('woff'),
         url('../fonts/firasans-light.ttf') format('truetype');
}
@font-face {
    font-family: 'Fira Sans Light Italic';
    src: url('../fonts/firasans-lightitalic.eot');
    src: url('../fonts/firasans-lightitalic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/firasans-lightitalic.woff') format('woff'),
         url('../fonts/firasans-lightitalic.ttf') format('truetype');
}
@font-face {
    font-family: 'Fira Sans Medium';
    src: url('../fonts/firasans-medium.eot');
    src: url('../fonts/firasans-medium.eot?#iefix') format('embedded-opentype'),
         url('../fonts/firasans-medium.woff') format('woff'),
         url('../fonts/firasans-medium.ttf') format('truetype');
}
@font-face {
    font-family: 'Exo';
    src: url('../fonts/exo-black.eot');
    src: url('../fonts/exo-black.eot?#iefix') format('embedded-opentype'),
         url('../fonts/exo-black.woff') format('woff'),
         url('../fonts/exo-black.ttf') format('truetype');
}
@font-face {
    font-family: 'Uni Sans';
    src: url('../fonts/uni_sans_heavy.eot');
    src: url('../fonts/uni_sans_heavy.eot?#iefix') format('embedded-opentype'),
         url('../fonts/uni_sans_heavy.woff') format('woff'),
         url('../fonts/uni_sans_heavy.ttf') format('truetype');
}
@font-face {
    font-family: 'Rubl';
    src: url('../fonts/ALSRubl.eot');
    src: url('../fonts/ALSRubl.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ALSRubl.woff') format('woff'),
         url('../fonts/ALSRubl.ttf') format('truetype');
}