@main_font: "Fira Sans Medium", sans-serif;
@site_bg: #fff;
@main_color: #3d4452;

@radius: 18px;

html { height: 100%;}
body {
    font-family: @main_font;
    font-weight: normal;
    background: @site_bg;
    height: 100%;
    color: @main_color;
}
.main-wrapper { 
    min-height: 100%; 
    overflow: hidden;
}
.container{
    position: relative;
    font-size: 14px;
    margin: 0 auto;
    padding: 0px 15px;
    box-sizing: border-box;
}
ul, ol { margin-left: 0; list-style-type: none; }
label { font-weight: normal;}
h1, h2, h3, h4, h5 { font-family: @main_font; }
img {max-width: 100%;}
a img {border: none;}
button, input, textarea {outline: none;}

.text-right {
    text-align: right;
}
.text-center {
    text-align: center;
}
.text-left {
    text-align: left!important;
}
.padding-top-50 {padding-top: 50px;}

.margin-left-15 {margin-left: 15px;}
.margin-bottom-10 {margin-bottom: 10px;}
.margin-bottom-20 {margin-bottom: 20px;}
.margin-bottom-40 {margin-bottom: 40px;}

.margin-top-5 {margin-top: 5px;}

.font-italic {font-family: 'Fira Sans Light Italic';}
.font-light {font-family: 'Fira Sans Light';}
.size-24 {font-size: 24px!important;}

.link-border {
    color: #2f83d6;
    display: inline-block;
    border-bottom: 1px solid #5494da;
    line-height: 26px;
    &:hover {
        text-decoration: none;
        border-bottom: 1px solid transparent;
    }
}

.dib {display: inline-block;margin: 0;}
.line {
    line-height: normal;
    font-size: 200%;
}
.full-width { width: 100%!important;}
.auto-width { width: auto!important;}
.auto-height {height: auto!important;}
.btn {
    text-decoration: none;
    border: none;
    border-radius: @radius;
    display: inline-block;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
    &:hover {
        text-decoration: none;
    }
    &.btn-yellow {
        color: #000;
        font-size: 20px;
        padding: 18px 54px 15px 54px;
        font-weight: bold;
        background: #f4d639;
        border-bottom: 3px solid #9d891f;
        &:hover {
            background: lighten(#f4d639, 5%);
            border-bottom: 3px solid lighten(#9d891f, 5%);
        }
    }
    &.btn-blue {
        background: #2f83d6;
        color: #fff;
        border-radius: 5px;
        border-bottom: 3px solid #195999;
        &:hover {
            background: #2871b9;
            border-bottom: 3px solid #14497e;
        }
    }
}
.rubl {
    font-family: 'Rubl';
    font-style: normal;
    display: inline-block;
    margin-left: 5px;
}
.subtitle {
    color: #2f3948;
    font-size: 40px;
    margin: 0 0 -3px 0;
    text-transform: uppercase;
    letter-spacing: -0.5px;
    font-weight: 500;
}
.title {
    font-size: 40px;
    color: #2f3948;
    margin: 48px 0 22px 0;
    letter-spacing: -2px;
    text-transform: uppercase;
}