extends _layout
block content
	.container
		.clarification__block
			p.clarification__text Производим и устанавливаем натяжные потолки
			p.clarification__text 
				img.clarification__img(src="img/light.png", alt="")
				| На 7% быстрее
			p.clarification__text 
				img.clarification__img(src="img/diamond.png", alt="")
				| На 6% лучше
			p.clarification__text 
				img.clarification__img(src="img/cash.png", alt="")
				| На 9% дешевле
		p.clarification__detail.hidden-sm узнайте подробнее 
			a(href="#") о производстве
	include includes/_slider
	.main__content
		.container
			h1.title о потолках
			.row
				.col-sm-12.col-md-8.col-lg-9
					.univ__content-wrap
						.univ__block
							.row
								.col-sm-2.col-md-3.col-lg-2
									img.article-list__img(src="img/content/img.jpg", alt="")
								.col-sm-10.col-md-9.col-lg-10
									.article-list__text-wrap
										h2.article-list__title
											a(href="#")
												span.line Монтаж тканевых натяжных потолков: секреты профессионалов
										p.article-list__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error laborum facere aut temporibus ipsa earum consequuntur, beatae molestiae quasi velit ut alias explicabo saepe, tempore quis aliquid iste. Fugiat, delectus?
						.univ__block
							.row
								.col-sm-2.col-md-3.col-lg-2
									img.article-list__img(src="img/content/img.jpg", alt="")
								.col-sm-10.col-md-9.col-lg-10
									.article-list__text-wrap
										h2.article-list__title
											a(href="#")
												span.line Достоинства тканевого натяжного потолка: выбираем качество!
										p.article-list__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error laborum facere aut temporibus ipsa earum consequuntur, beatae molestiae quasi velit ut alias explicabo saepe, tempore quis aliquid iste. Fugiat, delectus? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis consequuntur facilis unde enim quis, nulla, harum recusandae quo, consectetur totam soluta? Odit deserunt nostrum labore quia hic, commodi sapiente velit harum natus odio? At facere quas, alias libero. Ducimus, voluptas?
						.univ__block
							.row
								.col-sm-2.col-md-3.col-lg-2
									img.article-list__img(src="img/content/img.jpg", alt="")
								.col-sm-10.col-md-9.col-lg-10
									.article-list__text-wrap
										h2.article-list__title
											a(href="#")
												span.line Монтаж тканевых натяжных потолков: секреты профессионалов
										p.article-list__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error laborum facere aut temporibus ipsa earum consequuntur, beatae molestiae quasi velit ut alias explicabo saepe, tempore quis aliquid iste. Fugiat, delectus?
						.univ__block
							.row
								.col-sm-2.col-md-3.col-lg-2
									img.article-list__img(src="img/content/img.jpg", alt="")
								.col-sm-10.col-md-9.col-lg-10
									.article-list__text-wrap
										h2.article-list__title
											a(href="#")
												span.line Достоинства тканевого натяжного потолка: выбираем качество!
										p.article-list__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error laborum facere aut temporibus ipsa earum consequuntur, beatae molestiae quasi velit ut alias explicabo saepe, tempore quis aliquid iste. Fugiat, delectus? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis consequuntur facilis unde enim quis, nulla, harum recusandae quo, consectetur totam soluta? Odit deserunt nostrum labore quia hic, commodi sapiente velit harum natus odio? At facere quas, alias libero. Ducimus, voluptas?
						.univ__block
							.row
								.col-sm-2.col-md-3.col-lg-2
									img.article-list__img(src="img/content/img.jpg", alt="")
								.col-sm-10.col-md-9.col-lg-10
									.article-list__text-wrap
										h2.article-list__title
											a(href="#")
												span.line Монтаж тканевых натяжных потолков: секреты профессионалов
										p.article-list__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error laborum facere aut temporibus ipsa earum consequuntur, beatae molestiae quasi velit ut alias explicabo saepe, tempore quis aliquid iste. Fugiat, delectus?
						.univ__block
							.row
								.col-sm-2.col-md-3.col-lg-2
									img.article-list__img(src="img/content/img.jpg", alt="")
								.col-sm-10.col-md-9.col-lg-10
									.article-list__text-wrap
										h2.article-list__title
											a(href="#")
												span.line Достоинства тканевого натяжного потолка: выбираем качество!
										p.article-list__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error laborum facere aut temporibus ipsa earum consequuntur, beatae molestiae quasi velit ut alias explicabo saepe, tempore quis aliquid iste. Fugiat, delectus? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis consequuntur facilis unde enim quis, nulla, harum recusandae quo, consectetur totam soluta? Odit deserunt nostrum labore quia hic, commodi sapiente velit harum natus odio? At facere quas, alias libero. Ducimus, voluptas?
						.univ__block
							.row
								.col-sm-2.col-md-3.col-lg-2
									img.article-list__img(src="img/content/img.jpg", alt="")
								.col-sm-10.col-md-9.col-lg-10
									.article-list__text-wrap
										h2.article-list__title
											a(href="#")
												span.line Монтаж тканевых натяжных потолков: секреты профессионалов
										p.article-list__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error laborum facere aut temporibus ipsa earum consequuntur, beatae molestiae quasi velit ut alias explicabo saepe, tempore quis aliquid iste. Fugiat, delectus?
						.univ__block
							.row
								.col-sm-2.col-md-3.col-lg-2
									img.article-list__img(src="img/content/img.jpg", alt="")
								.col-sm-10.col-md-9.col-lg-10
									.article-list__text-wrap
										h2.article-list__title
											a(href="#")
												span.line Достоинства тканевого натяжного потолка: выбираем качество!
										p.article-list__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error laborum facere aut temporibus ipsa earum consequuntur, beatae molestiae quasi velit ut alias explicabo saepe, tempore quis aliquid iste. Fugiat, delectus? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis consequuntur facilis unde enim quis, nulla, harum recusandae quo, consectetur totam soluta? Odit deserunt nostrum labore quia hic, commodi sapiente velit harum natus odio? At facere quas, alias libero. Ducimus, voluptas?
				.col-md-4.col-lg-3.hidden-sm
					.action__block.papper_bg
						.action__block-content.v-1(style="display: none;")
							h3.action__title Cкидка 20%
							p.action__text Действует до 10 декабря
							img(src="img/calendar.png", alt="")
							a.btn.btn-yellow.action__btn(href="#") Спешите заказать!
						.action__block-content.v-2
							h3.action__title АКЦИЯ!
							p.action__text Светильники<br>в подарок!
							img(src="img/lamp.png", alt="")
							// вызов счетчика обратного отсчета
							script.
								$(document).ready(function(){
									$('#countdown_dashboard_action').countDown({
										targetDate: {
											'day': 25,
											'month': 11,
											'year': 2016,
											'hour': 13,
											'min': 0,
											'sec': 0
										}
									});
								});
							#countdown_dashboard_action
								.dash.hours_dash.widthS
									.digit.sizeS 0
									.digit.sizeS 0
									span.dash_title.sizeS Часов
								.dash.minutes_dash.widthS
									.digit.sizeS 0
									.digit.sizeS 0
									span.dash_title.sizeS Минут
								.dash.seconds_dash.widthS
									.digit.sizeS 0
									.digit.sizeS 0
									span.dash_title.sizeS Секунд
							a.btn.btn-yellow.action__btn(href="#") Получите подарок!
						.action__block-content.v-3(style="display: none;")
							h3.action__title Натяжные потолки
							p.action__text от 
								span.action__subtitle 179
								|  руб./м<sup>2</sup>
							img(src="img/action_cash.png", alt="")
							a.btn.btn-yellow.action__btn(href="#") Заказать по этой цене