extends _layout
block content
	.container
		.clarification__block
			p.clarification__text Производим и устанавливаем натяжные потолки
			p.clarification__text 
				img.clarification__img(src="img/light.png", alt="")
				| На 7% быстрее
			p.clarification__text 
				img.clarification__img(src="img/diamond.png", alt="")
				| На 6% лучше
			p.clarification__text 
				img.clarification__img(src="img/cash.png", alt="")
				| На 9% дешевле
		p.clarification__detail.hidden-sm узнайте подробнее 
			a(href="##") о производстве
	include includes/_slider
	.main__content
		.container
			h1.title Контактная информация
			.row
				.col-md-4.col-sm-5.col-lg-3
					.sidebar.fix
						.city-list__wrapper
							ul.city-list__list
								li.city-list__item
									a.city-list__link(href="javascript:void(0);") 
										span.line Москва
								li.city-list__item
									a.city-list__link.active(href="javascript:void(0);") 
										span.line Санкт-Петербург
								li.city-list__item
									a.city-list__link(href="javascript:void(0);") 
										span.line Асбест
								li.city-list__item
									a.city-list__link(href="javascript:void(0);") 
										span.line Балашиха
								li.city-list__item
									a.city-list__link(href="javascript:void(0);") 
										span.line Барнаул
								li.city-list__item
									a.city-list__link(href="javascript:void(0);") 
										span.line Березники
								li.city-list__item
									a.city-list__link(href="javascript:void(0);") 
										span.line Верхняя Пышма
								li.city-list__item
									a.city-list__link(href="javascript:void(0);") 
										span.line Барнаул
								li.city-list__item
									a.city-list__link(href="javascript:void(0);") 
										span.line Березники
								li.city-list__item
									a.city-list__link(href="javascript:void(0);") 
										span.line Верхняя Пышма
								li.city-list__item
									a.city-list__link(href="javascript:void(0);") 
										span.line Москва
								li.city-list__item
									a.city-list__link(href="javascript:void(0);") 
										span.line Санкт-Петербург
								li.city-list__item
									a.city-list__link(href="javascript:void(0);") 
										span.line Асбест
								li.city-list__item
									a.city-list__link(href="javascript:void(0);") 
										span.line Балашиха
								li.city-list__item
									a.city-list__link(href="javascript:void(0);") 
										span.line Барнаул
								li.city-list__item
									a.city-list__link(href="javascript:void(0);") 
										span.line Березники
								li.city-list__item
									a.city-list__link(href="javascript:void(0);") 
										span.line Верхняя Пышма
								li.city-list__item
									a.city-list__link(href="javascript:void(0);") 
										span.line Барнаул
								li.city-list__item
									a.city-list__link(href="javascript:void(0);") 
										span.line Березники
								li.city-list__item
									a.city-list__link(href="javascript:void(0);") 
										span.line Верхняя Пышма
								li.city-list__item
									a.city-list__link(href="javascript:void(0);") 
										span.line Москва
								li.city-list__item
									a.city-list__link(href="javascript:void(0);") 
										span.line Санкт-Петербург
								li.city-list__item
									a.city-list__link(href="javascript:void(0);") 
										span.line Асбест
								li.city-list__item
									a.city-list__link(href="javascript:void(0);") 
										span.line Балашиха
								li.city-list__item
									a.city-list__link(href="javascript:void(0);") 
										span.line Барнаул
								li.city-list__item
									a.city-list__link(href="javascript:void(0);") 
										span.line Березники
								li.city-list__item
									a.city-list__link(href="javascript:void(0);") 
										span.line Верхняя Пышма
								li.city-list__item
									a.city-list__link(href="javascript:void(0);") 
										span.line Барнаул
								li.city-list__item
									a.city-list__link(href="javascript:void(0);") 
										span.line Березники
								li.city-list__item
									a.city-list__link(href="javascript:void(0);") 
										span.line Верхняя Пышма
								li.city-list__item
									a.city-list__link(href="javascript:void(0);") 
										span.line Москва
								li.city-list__item
									a.city-list__link(href="javascript:void(0);") 
										span.line Санкт-Петербург
								li.city-list__item
									a.city-list__link(href="javascript:void(0);") 
										span.line Асбест
								li.city-list__item
									a.city-list__link(href="javascript:void(0);") 
										span.line Балашиха
								li.city-list__item
									a.city-list__link(href="javascript:void(0);") 
										span.line Барнаул
								li.city-list__item
									a.city-list__link(href="javascript:void(0);") 
										span.line Березники
								li.city-list__item
									a.city-list__link(href="javascript:void(0);") 
										span.line Верхняя Пышма
								li.city-list__item
									a.city-list__link(href="javascript:void(0);") 
										span.line Барнаул
								li.city-list__item
									a.city-list__link(href="javascript:void(0);") 
										span.line Березники
								li.city-list__item
									a.city-list__link(href="javascript:void(0);") 
										span.line Верхняя Пышма
								li.city-list__item
									a.city-list__link(href="javascript:void(0);") 
										span.line Москва
								li.city-list__item
									a.city-list__link(href="javascript:void(0);") 
										span.line Санкт-Петербург
								li.city-list__item
									a.city-list__link(href="javascript:void(0);") 
										span.line Асбест
								li.city-list__item
									a.city-list__link(href="javascript:void(0);") 
										span.line Балашиха
								li.city-list__item
									a.city-list__link(href="javascript:void(0);") 
										span.line Барнаул
								li.city-list__item
									a.city-list__link(href="javascript:void(0);") 
										span.line Березники
								li.city-list__item
									a.city-list__link(href="javascript:void(0);") 
										span.line Верхняя Пышма
								li.city-list__item
									a.city-list__link(href="javascript:void(0);") 
										span.line Барнаул
								li.city-list__item
									a.city-list__link(href="javascript:void(0);") 
										span.line Березники
								li.city-list__item
									a.city-list__link(href="javascript:void(0);") 
										span.line Верхняя Пышма
								li.city-list__item
									a.city-list__link(href="javascript:void(0);") 
										span.line Москва
								li.city-list__item
									a.city-list__link(href="javascript:void(0);") 
										span.line Санкт-Петербург
								li.city-list__item
									a.city-list__link(href="javascript:void(0);") 
										span.line Асбест
								li.city-list__item
									a.city-list__link(href="javascript:void(0);") 
										span.line Балашиха
								li.city-list__item
									a.city-list__link(href="javascript:void(0);") 
										span.line Барнаул
								li.city-list__item
									a.city-list__link(href="javascript:void(0);") 
										span.line Березники
								li.city-list__item
									a.city-list__link(href="javascript:void(0);") 
										span.line Верхняя Пышма
								li.city-list__item
									a.city-list__link(href="javascript:void(0);") 
										span.line Барнаул
								li.city-list__item
									a.city-list__link(href="javascript:void(0);") 
										span.line Березники
								li.city-list__item
									a.city-list__link(href="javascript:void(0);") 
										span.line Верхняя Пышма
				.col-md-8.col-sm-7.col-lg-9
					.contact__content-block
						.contact__content-wrapper
							p.contact__text Офис в <span class="contact__office-name">Санкт-Петербурге</span>:
							p.contact__address 08300, Ленинградская область, Санкт-Петербург, ул. Привокзальная, 54.
							.row
								.col-lg-5.col-sm-12.col-md-6
									p.contact__text Контактный телефон:
									a.contact__phone(href="tel:+88003334910") 8 (800) 333-49-10 
									a.contact__phone(href="tel:+84996537877") 8 (499) 653-78-77
								.col-lg-7.col-sm-12.col-md-6
									p.contact__text Электронная почта:
									a.contact__email(href="mailto:moskva@coplast.ru") 
										span.line moskva@coplast.ru
						.contact__map-block
							#map
						.contact__content-wrapper
							.contact__form-block
								p.contact__form-title вызвать замерщика в <span class="contact__office-name">санкт-петербурге</span>
								p.contact__text Оставьте номер телефона, мы свяжемся с вами и уточним адрес и удобное вам время для замера.
								form.contact__form(action="#" method="post")
									input.contact__form-input.mask(type="text" required placeholder="Ваш номер телефона")
									button.btn.btn-blue.contact__form-btn(type="submit") Отправить заявку
									span.contact__form-detail Перезвоним через 5 минут ;) 