extends _layout
block content
	.container
		.clarification__block
			p.clarification__text Производим и устанавливаем натяжные потолки
			p.clarification__text 
				img.clarification__img(src="img/light.png", alt="")
				| На 7% быстрее
			p.clarification__text 
				img.clarification__img(src="img/diamond.png", alt="")
				| На 6% лучше
			p.clarification__text 
				img.clarification__img(src="img/cash.png", alt="")
				| На 9% дешевле
		p.clarification__detail.hidden-sm узнайте подробнее 
			a(href="#") о производстве
	include includes/_slider
	.main__content
		.container
			h1.title цена на материалы
			.univ__block.bg-light-grey
				p.univ__subtext По данным аналитических исследований, прозвона более 80 компаний и 10 замеров, мы можем с уверенностью утверждать, что наша цена одна из самых умеренных на Московском рынке натяжных потолков.
				p.univ__text Стоимость работ под ключ складывается из стоимости материала и стоимости дополнительных работ (доп.углы, кол-во труб, люстры, установка плинтуса, проводка, установка светильников и так далее). 
				br
				.univ__blockquote-block
					p.univ__blockquote-text Рассчитать приблизительную стоимость можно с помощью <a href="#">калькулятора</a> или позвонив нам по номеру <span>8 (800) 333-49-10</span>
				h2.univ__subtitle Стоимость материалов
				.material__info-block
					.row
						.col-sm-3.col-lg-2
							img.material__info-img(src="img/content/material_img_1.png", alt="")
						.col-sm-9.col-lg-10
							p.material__info-text <span>Polyplast</span> (Бельгия) - отлично выглядят, не имеют постороннего запаха. Европейский-эконом. Три фактуры: мат, глянец и сатин. Цвета: белый и цветные.
				.price-table__wrap-block
					table.material__table
						tr
							th Фактура
							th Ширина
							th от 50 м<sup>2</sup>
							th от 40 м<sup>2</sup>
							th от 30 м<sup>2</sup>
							th от 15 м<sup>2</sup>
							th от 10 м<sup>2</sup>
						tr
							td Мат/Лак
							td 150 см
							td 
								p.price-table__table-current-price
									| 179
									span.rubl a
								p.price-table__table-old-price
									| 754
									span.rubl a
							td 
								p.price-table__table-current-price
									| 179
									span.rubl a
								p.price-table__table-old-price
									| 754
									span.rubl a
							td 
								p.price-table__table-current-price
									| 179
									span.rubl a
								p.price-table__table-old-price
									| 754
									span.rubl a
							td 
							td 
						tr
							td Сатин
							td 300 см
							td 
								p.price-table__table-current-price
									| 179
									span.rubl a
								p.price-table__table-old-price
									| 754
									span.rubl a
							td 
								p.price-table__table-current-price
									| 179
									span.rubl a
								p.price-table__table-old-price
									| 754
									span.rubl a
							td 
							td 
								p.price-table__table-current-price
									| 179
									span.rubl a
								p.price-table__table-old-price
									| 754
									span.rubl a
							td 
								p.price-table__table-current-price
									| 179
									span.rubl a
								p.price-table__table-old-price
									| 754
									span.rubl a
						tr
							td Сатин
							td 300 см
							td 
								p.price-table__table-current-price
									| 179
									span.rubl a
								p.price-table__table-old-price
									| 754
									span.rubl a
							td 
								p.price-table__table-current-price
									| 179
									span.rubl a
								p.price-table__table-old-price
									| 754
									span.rubl a
							td 
							td 
								p.price-table__table-current-price
									| 179
									span.rubl a
								p.price-table__table-old-price
									| 754
									span.rubl a
							td 
								p.price-table__table-current-price
									| 179
									span.rubl a
								p.price-table__table-old-price
									| 754
									span.rubl a
						tr
							td Сатин
							td 300 см
							td 
								p.price-table__table-current-price
									| 22 179
									span.rubl a
								p.price-table__table-old-price
									| 55 754
									span.rubl a
							td 
								p.price-table__table-current-price
									| 179
									span.rubl a
								p.price-table__table-old-price
									| 754
									span.rubl a
							td 
							td 
								p.price-table__table-current-price
									| 179
									span.rubl a
								p.price-table__table-old-price
									| 754
									span.rubl a
							td 
								p.price-table__table-current-price
									| 179
									span.rubl a
								p.price-table__table-old-price
									| 754
									span.rubl a
						tr
							td Сатин
							td 300 см
							td 
								p.price-table__table-current-price
									| 179
									span.rubl a
								p.price-table__table-old-price
									| 754
									span.rubl a
							td 
								p.price-table__table-current-price
									| 2 179
									span.rubl a
								p.price-table__table-old-price
									| 5 754
									span.rubl a
							td 
							td 
								p.price-table__table-current-price
									| 179
									span.rubl a
								p.price-table__table-old-price
									| 754
									span.rubl a
							td 
								p.price-table__table-current-price
									| 11 179
									span.rubl a
								p.price-table__table-old-price
									| 22 754
									span.rubl a
				.material__info-block
					.row
						.col-sm-3.col-lg-2
							img.material__info-img(src="img/content/material_img_2.png", alt="")
						.col-sm-9.col-lg-10
							p.material__info-text <span>DESCOR</span> (Германия, Тканевые потолки) - Экологичные, дышащие и прочные тканевые потолки от известного концерна Pongs, около 40 цветов. Натягиваются без нагрева помещения и без шва.
				.price-table__wrap-block
					table.material__table
						tr
							th Фактура
							th Ширина
							th от 50 м<sup>2</sup>
							th от 40 м<sup>2</sup>
							th от 30 м<sup>2</sup>
							th от 15 м<sup>2</sup>
							th от 10 м<sup>2</sup>
						tr
							td Мат/Лак
							td 150 см
							td 
								p.price-table__table-current-price
									| 179
									span.rubl a
								p.price-table__table-old-price
									| 754
									span.rubl a
							td 
								p.price-table__table-current-price
									| 179
									span.rubl a
								p.price-table__table-old-price
									| 754
									span.rubl a
							td 
								p.price-table__table-current-price
									| 179
									span.rubl a
								p.price-table__table-old-price
									| 754
									span.rubl a
							td 
							td 
						tr
							td Сатин
							td 300 см
							td 
								p.price-table__table-current-price
									| 179
									span.rubl a
								p.price-table__table-old-price
									| 754
									span.rubl a
							td 
								p.price-table__table-current-price
									| 179
									span.rubl a
								p.price-table__table-old-price
									| 754
									span.rubl a
							td 
							td 
								p.price-table__table-current-price
									| 179
									span.rubl a
								p.price-table__table-old-price
									| 754
									span.rubl a
							td 
								p.price-table__table-current-price
									| 179
									span.rubl a
								p.price-table__table-old-price
									| 754
									span.rubl a
						tr
							td Сатин
							td 300 см
							td 
								p.price-table__table-current-price
									| 179
									span.rubl a
								p.price-table__table-old-price
									| 754
									span.rubl a
							td 
								p.price-table__table-current-price
									| 179
									span.rubl a
								p.price-table__table-old-price
									| 754
									span.rubl a
							td 
							td 
								p.price-table__table-current-price
									| 179
									span.rubl a
								p.price-table__table-old-price
									| 754
									span.rubl a
							td 
								p.price-table__table-current-price
									| 179
									span.rubl a
								p.price-table__table-old-price
									| 754
									span.rubl a
				br
				p.univ__text Работы не вошедшие в данный список, оговариваются отдельно.
				p.univ__text Конечная стоимость складывается из стоимости полотна, комплектующих и дополнительного объема работ в зависимости от особенностей каждого помещения.
				p.univ__text Минимальная стоимость заказа: 8000 рублей
				p.univ__text Выезд технолога-замерщика с образцами в день обращения.
				br
				a.size-24.link-border.margin-bottom-40(href="#") Стоимость материалов