extends _layout
block content
	.container
		.clarification__block
			p.clarification__text Производим и устанавливаем натяжные потолки
			p.clarification__text 
				img.clarification__img(src="img/light.png", alt="")
				| На 7% быстрее
			p.clarification__text 
				img.clarification__img(src="img/diamond.png", alt="")
				| На 6% лучше
			p.clarification__text 
				img.clarification__img(src="img/cash.png", alt="")
				| На 9% дешевле
		p.clarification__detail.hidden-sm узнайте подробнее 
			a(href="#") о производстве
	include includes/_slider
	.main__content
		.container
			h1.title цена на работы
			.univ__block.bg-light-grey
				p.univ__subtext По данным аналитических исследований, прозвона более 80 компаний и 10 замеров, мы можем с уверенностью утверждать, что наша цена одна из самых умеренных на Московском рынке натяжных потолков.
				p.univ__text Стоимость работ под ключ складывается из стоимости материала и стоимости дополнительных работ (доп.углы, кол-во труб, люстры, установка плинтуса, проводка, установка светильников и так далее). 
				br
				.univ__blockquote-block
					p.univ__blockquote-text Рассчитать приблизительную стоимость можно с помощью <a href="#">калькулятора</a> или позвонив нам по номеру <span>8 (800) 333-49-10</span>
				h2.univ__subtitle Стоимость работы
				.price-table__wrap-block
					table.price-table__table
						thead
							tr
								th Основные работы
								th(colspan="2") Цена в руб.
						tbody
							tr
								td Монтаж профиля для потолков ПВХ Стеновой\Потолочный
								td
									p.price-table__table-current-price
										| 179
										span.rubl a
									p.price-table__table-old-price
										| 754
										span.rubl a
								td м.п
							tr
								td Монтаж+Лента Маскирующая
								td
									p.price-table__table-current-price
										| 444
										span.rubl a
									p.price-table__table-old-price
										| 777
										span.rubl a
								td м<sup>2</sup>
				.price-table__wrap-block
					table.price-table__table
						thead
							tr
								th Дополнительные работы  
								th(colspan="2") Стоимость
						tbody
							tr
								td Обход дополнительных углов (свыше 4-х)
								td
									p.price-table__table-current-price
										| 179
										span.rubl a
									p.price-table__table-old-price
										| 754
										span.rubl a
								td м.п
							tr
								td Вырез для крючковой люстры с протекторным Кольцом
								td
									p.price-table__table-current-price
										| 444
										span.rubl a
									p.price-table__table-old-price
										| 777
										span.rubl a
								td м<sup>2</sup>
							tr
								td Обход дополнительных углов (свыше 4-х)
								td
									p.price-table__table-current-price
										| 179
										span.rubl a
									p.price-table__table-old-price
										| 754
										span.rubl a
								td м.п
							tr
								td Вырез для крючковой люстры с протекторным Кольцом
								td
									p.price-table__table-current-price
										| 444
										span.rubl a
									p.price-table__table-old-price
										| 777
										span.rubl a
								td м<sup>2</sup>
							tr
								td Обход дополнительных углов (свыше 4-х)
								td
									p.price-table__table-current-price
										| 179
										span.rubl a
									p.price-table__table-old-price
										| 754
										span.rubl a
								td м.п
							tr
								td Вырез для крючковой люстры с протекторным Кольцом
								td
									p.price-table__table-current-price
										| 444
										span.rubl a
									p.price-table__table-old-price
										| 777
										span.rubl a
								td м<sup>2</sup>
				br
				p.univ__text Работы не вошедшие в данный список, оговариваются отдельно.
				p.univ__text Конечная стоимость складывается из стоимости полотна, комплектующих и дополнительного объема работ в зависимости от особенностей каждого помещения.
				p.univ__text Минимальная стоимость заказа: 8000 рублей
				p.univ__text Выезд технолога-замерщика с образцами в день обращения.
				br
				a.size-24.link-border.margin-bottom-40(href="#") Стоимость материалов