footer.footer
	.container
		.footer__top
			.row
				.col-sm-4
					p.footer__text 115035, Москва, <br>ул. Артиллерийская, 58, стр. 1, оф. 18
				.col-sm-2
					p.footer__text._phone-marg Телефон:<br>#{phone}
				.col-sm-3
					p.footer__text._email-marg Электронная почта:<br><a class="footer__link" href="mailto:hello@coplast.ru">hello@coplast.ru</a>
				.col-sm-3
					.footer__link-wrap.pull-right
						a(href="#") Написать нам
		.footer__bottom
			.row
				.col-sm-2
					p.footer__text © 2015 - Coplast
				.col-sm-8.text-center
					span.footer__text Мы в соц.сетях:
					a.footer__social-link(href="#")
						img(src="img/social.png", alt="")
					a.footer__social-link(href="#")
						img(src="img/social.png", alt="")
					a.footer__social-link(href="#")
						img(src="img/social.png", alt="")
					a.footer__social-link(href="#")
						img(src="img/social.png", alt="")
					a.footer__social-link(href="#")
						img(src="img/social.png", alt="")
					a.footer__social-link(href="#")
						img(src="img/social.png", alt="")
				.col-sm-2
					a.pull-right(href="#")
						p.footer__develop
include _script