footer.footer
	.container
		.footer__top
			.row
				.col-sm-5.col-md-4
					p.footer__text 115035, Москва, <br>ул. Артиллерийская, 58, стр. 1, оф. 18
				.col-sm-3.col-md-3.col-lg-2
					p.footer__text._phone-marg Телефон:<br>#{phone}
				.col-sm-4.col-md-2.col-lg-3
					p.footer__text._email-marg Электронная почта:<br><a class="footer__link" href="mailto:hello@coplast.ru">hello@coplast.ru</a>
				.col-md-3.hidden-sm
					.footer__link-wrap.pull-right
						a(href="#") Написать нам
		.footer__bottom
			.row
				.col-sm-3
					p.footer__text © 2015 - Coplast
				.col-sm-7.text-center
					span.footer__text Мы в соц.сетях:
					a.footer__social-link(href="#")
						img(src="img/y.png", alt="")
					a.footer__social-link(href="#")
						img(src="img/vk.png", alt="")
					a.footer__social-link(href="#")
						img(src="img/fb.png", alt="")
					a.footer__social-link(href="#")
						img(src="img/tw.png", alt="")
					a.footer__social-link(href="#")
						img(src="img/inst.png", alt="")
					a.footer__social-link(href="#")
						img(src="img/ok.png", alt="")
				.col-sm-2
					a.pull-right(href="#")
						p.footer__develop
include _script