script(src="js/greensock.js")
script(src="js/layerslider.transitions.js")
script(src="js/layerslider.kreaturamedia.jquery.js")
script(src="js/plugins.js")
script(src="js/script.js")
script(src="js/calculation.js")